<div class="language-switcher" language-switcher>
  <div class="language-switcher__label" language-switcher-label></div>

  <ul class="language-switcher__dropdown" lauguage-switcher-dropdown>
    <li class="language-switcher__list">
      <a href="#Weglot-en" class="language-switcher__link" language-switcher-link>English</a>
    </li>

    <li class="language-switcher__list">
      <a href="#Weglot-fr" class="language-switcher__link" language-switcher-link>French</a>
    </li>
  </ul>
</div>
