<section class="section-page-header">
  <div class="section-body">
    <div class="wrapper">
      <h1 class="section-title text-center">
        <div class="section-title__logo">{% include 'logo-rames' %}</div>
        {{ page.title }}
      </h1>
    </div>
  </div>
</section>

{%- for block in section.blocks -%}
  {%- include block.type -%}
{%- endfor -%}

{% schema %}
  {
    "name": "Lookbook",
    "settings": [
    ],
    "blocks": [
      {
        "type": "section-double",
        "name": "Double section",
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "text_block_first",
            "label": "Text block first",
            "default": false
          },
          {
            "type": "header",
            "content": "Image Block"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "2000 x 1500px .jpg recommended"
          },
          {
            "type": "header",
            "content": "Text Block"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
